body {

    background-color: palevioletred;
    
}

h1 {

    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;

}

nav {

    background-color: wheat;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 20px;
    border-radius: 8px;



}

button {

  background-color: cornsilk;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin: 0 8px;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 0.25s ease;

   
}

button:hover {

    background-color: lightpink;
    cursor: pointer;
    transition: 1s;

}

a {
    
    text-decoration: none;
    color: black;
}


h3 {
    
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

img {

    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: solid 8px cornsilk;
   border-style: double;
    


}

.facts-list {
    
    align-items: center; 
    list-style: none; 
    background-color: wheat; 
    width: fit-content; 
    border-radius: 5px; 
   /** margin-left: 39%; **/
   margin-left: auto;
   margin-right: auto;


}

li {
    font-size: 24px;
    text-align: left;
}

.vid {
    text-align: center;
}

h4 {

    margin-left: 10px;
    font-family: cursive;
}

.story-section {

    background-color: #fbe4d3;    
    width: 70%;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 1.55;
    font-size: 1.1rem;
}

.image_gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    
}

.advice-section  {

    align-items: center;
    background-color: rgb(172, 115, 154);
    color: cornsilk;
    width: 80%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: fangsong;
   

}

.routine-section {
    
    background-color: cornsilk;
    width: 60%;
    margin: 30px auto;
    padding: 25px 35px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    text-align: left;
    font-family: Poppins, sans-serif;

}